<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/barra_navegacion.css') }}">
</head>
<header>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li><a href="/" class="nav-link">Inicio</a></li>
            <li><a href="/rutas" class="nav-link">Rutas</a></li>
            <li><a href="/vehiculos" class="nav-link">Vehículos</a></li>
            <li><a href="/reservas" class="nav-link">Reservas</a></li>
            <li><a href="/about" class="nav-link">Acerca de</a></li>
        </ul>
        <ul class="navbar-menu-1">
            <li><a href="/login" class="nav-link">Iniciar Sesión</a></li>
            <li><a href="/register" class="nav-link">Registrarse</a></li>
        </ul>
    </nav>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll('.navbar-menu a');
        const links1 = document.querySelectorAll('.navbar-menu-1 a');
        const currentPath = window.location.pathname;
        links.forEach(link => {
        const linkPath = link.getAttribute('href');
        if (linkPath === currentPath) {
            link.classList.add('active');
        }
        });
        links1.forEach(link1 => {
        const linkPath = link1.getAttribute('href');
        if (linkPath === currentPath) {
            link1.classList.add('active');
        }
        });
        });
    </script>
</header>
</html>