<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sector Transporte</h3>
            <p>Tu aliado en soluciones de transporte confiables y seguras.</p>
        </div>
        
        <div class="footer-section">
            <h3>Enlaces Útiles</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/rutas_a_elegir">Rutas</a></li>
                <li><a href="/vehiculos_usables">Vehículos</a></li>
                <li><a href="/reservas_a_realizar">Reservas</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h3>Contacto</h3>
            <p><i class="fas fa-phone"></i> +57 316 579 6846</p>
            <p><i class="fas fa-envelope"></i> soporte@sectortransporte.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Barrancabermeja, Santander, Colombia</p>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Sector Transporte - Moviendo el mundo, kilómetro a kilómetro.</p>
        </div>
    </div>
</footer>
</html>