{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}
{% block header %}
<header>
    {% include 'includes/barra_navegacion.html' %}
</header>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperar_password.css') }}">
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('recuperar_password') }}" class="recuperar_password">
        <h1>Recuperar Contraseña</h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
        <label for="telefono">Ingresa tu número de teléfono:</label>
        <div class="form-group">
            <i class="fas fa-phone icon"></i>
            <input type="tel" name="celular" id="celular" placeholder="Ej: +57 1234567890" required>
        </div>
        <button type="submit">Enviar</button>
        <a href="/login">Volver</a>
    </form>
{% endblock %}